.btn-default-outline, .btn-primary-outline, .btn-success-outline, .btn-info-outline, .btn-warning-outline, .btn-danger-outline {
  background: transparent; }

.btn-default-outline {
  color: #999999;
  border: 1px solid #bbbbbb; }
  .btn-default-outline .caret {
    border-top-color: #bbbbbb; }
  .btn-default-outline:hover, .btn-default-outline.active {
    background: #bbbbbb;
    color: white; }
    .btn-default-outline:hover .caret, .btn-default-outline.active .caret {
      border-top-color: white; }

.btn-primary-outline {
  color: #007aff;
  border: 1px solid #007aff; }
  .btn-primary-outline .caret {
    border-top-color: #007aff; }
  .btn-primary-outline:hover, .btn-primary-outline.active {
    background: #007aff;
    color: white; }
    .btn-primary-outline:hover .caret, .btn-primary-outline.active .caret {
      border-top-color: white; }

.btn-success-outline {
  color: #60c560;
  border: 1px solid #60c560; }
  .btn-success-outline .caret {
    border-top-color: #60c560; }
  .btn-success-outline:hover, .btn-success-outline.active {
    background: #60c560;
    color: white; }
    .btn-success-outline:hover .caret, .btn-success-outline.active .caret {
      border-top-color: white; }

.btn-info-outline {
  color: #5bc0de;
  border: 1px solid #5bc0de; }
  .btn-info-outline .caret {
    border-top-color: #5bc0de; }
  .btn-info-outline:hover, .btn-info-outline.active {
    background: #5bc0de;
    color: white; }
    .btn-info-outline:hover .caret, .btn-info-outline.active .caret {
      border-top-color: white; }

.btn-warning-outline {
  color: #f0ad4e;
  border: 1px solid #f0ad4e; }
  .btn-warning-outline .caret {
    border-top-color: #f0ad4e; }
  .btn-warning-outline:hover, .btn-warning-outline.active {
    background: #f0ad4e;
    color: white; }
    .btn-warning-outline:hover .caret, .btn-warning-outline.active .caret {
      border-top-color: white; }

.btn-danger-outline {
  color: #d9534f;
  border: 1px solid #d9534f; }
  .btn-danger-outline .caret {
    border-top-color: #d9534f; }
  .btn-danger-outline:hover, .btn-danger-outline.active {
    background: #d9534f;
    color: white; }
    .btn-danger-outline:hover .caret, .btn-danger-outline.active .caret {
      border-top-color: white; }

.btn-magenta-outline {
  color: #d94084;
  border: 1px solid #d94084; }
  .btn-magenta-outline .caret {
    border-top-color: #d94084; }
  .btn-magenta-outline:hover, .btn-magenta-outline.active {
    background: #d94084;
    color: white; }
    .btn-magenta-outline:hover .caret, .btn-magenta-outline.active .caret {
      border-top-color: white; }

	  
.btn-pure-outline {
  height:8vmin;
  width:40vmin;
  font-size:3vmin;
  background: #101020;
  opacity: 0.7;
  color: #ffffff;
  border: 2px solid #ffffff; }
  .btn-pure-outline .caret {
    border-top-color: white; 
	color: #ffffff;}
  .btn-pure-outline:hover, .btn-pure-outline.active, .btn-pure-outline.visited {
	opacity: 0.9;
	color: #ffffff;
    .btn-pure-outline:hover .caret, .btn-pure-outline.active .caret {
	  color: #ffffff;
      border-top-color: white; }
	  