/bootstrap/compiled.php
SE_PhysExpeRepo/app/Exceptions/Handler.php
.env.*.php
.env.php
.env
*.aux
*.log
*.synctex.gz(busy)
*.synctex.gz
wecenter/tmp/*
wecenter/cache/*
wecenter/uploads/*
wecenter/language/*
wecenter/system/config/*
