
a {
  color: #000000;
}
a:hover{
  text-decoration: none;color: #bb4444;
}

/*主导航样式*/
.aw-top-menu-wrap {
  background-color: #222;
  border-color: #080808;
  box-shadow: 0 1px 2px #e1e1e1;
  position: fixed;
  top:0;
}
.aw-logo {
  width: 123px;
  margin: 7px 0 0 0;
}
.navbar-collapse{
  background: #000;
}
.aw-top-nav > nav > ul > li > a {
  color: #777;
  background-color: #222;
  transition: all 0.3s ease-out;
}

.aw-top-nav > nav > ul > li > a.active {
  background: #cc5555;
  color: #FFF;
}
.aw-top-nav > nav > ul > li > a:hover, .aw-top-nav > nav > ul > li > a:focus {
  background: #cc5555;
  color: #FFF;
}

.aw-container-wrap{
  margin-top: 60px;
}

/*其他样式*/
.aw-footer-wrap{
  background: #FFF;
  margin-top: 10px;
}
.btn-primary{
  border: none !important;
  background-color: #cc5555;
}
.btn-primary:hover {
  background-color: #bb4444;
}

.aw-publish-btn .dropdown-list a {
  background-color: #ff6666;
}
.aw-footer-wrap {
  background: #444;
}
.aw-footer h4{
  font-size: 16px;
  color: #fff;
}
.aw-footer a{
  cursor: pointer;
  color: #999;
}
.aw-footer a:hover{
  color: #bb4444;
}
.aw-footer{
  color:#999;
}
.container{
  width: 1050px !important;
}
.topic-tag .text{
  background-color: #cc5555;
}
.aw-mod.side-nav ul li a.active {
  background-color: #bb4444;
}
.topic-tag .text:hover, .topic-tag .text:active, .topic-tag .close:hover, .topic-tag .close:active {
  background: rgb(204, 128, 132);
}
.aw-common-list .aw-question-content h4{
  font-weight: bold;
}
.aw-publish-btn .dropdown-list a:hover{
  background: rgb(255, 128, 132);
}
.btn-success:hover,.btn-success:focus,.btn-gray.active:hover{
  background: rgb(204, 128, 132) !important;color: #fff !important;
}
.btn-success,.btn-gray.active {
  background-color: #bb4444;
}
.aw-feed-list .aw-user-name {
  color: #999;
}
.aw-mod .mod-head h4, .aw-mod .mod-head h4 a {
  font-size: 15px;
}
.aw-feed-list .aw-item {
  border-bottom: 1px solid #eee;
}
.aw-common-list > div + div {
  border-top: 1px solid #eee;
}
.aw-search-box input {
  border: 1px solid #ccc;
}
.form-control:focus{
  border-color: #bb4444 !important;
}

.aw-nav-tabs > li.active a{
  border-bottom: 1px solid #bb4444;
}
.aw-nav-tabs > li > a:hover{
  border:none;border-bottom:2px solid #bb4444;
}
.aw-question-detail > .mod-head {
  border-bottom: 1px solid #bb4444;
}
.markitup-box {
  font-size: 14px;
  color: #333;
}
.markitup-box a{
  color: #bb4444;
}
.aw-question-detail {
  margin-bottom:10px;
}
.aw-topic-detail-title h2 {
  font-size: 28px;
}
.aw-topic-detail-title {
  min-height: 70px;
}
.aw-load-more-content:hover {
  background: #bb4444;
}
.aw-load-more-content:hover a, .aw-load-more-content:hover span {
  background-color: #bb4444;
}
.aw-load-more-content.disabled:hover span {
  color: #fff;
}
.aw-topic-list .aw-item {
  padding: 24px 0px 10px 65px;
}
.aw-question-content h4 a {
  color: #333;
}
.aw-top-nav {
  font-size: 16px;
}
.aw-question-detail .mod-head h1 {
  font-weight: normal;
}