body{
	background-color:#e4e4e4;
	font-family:"Arial","Microsoft Yahei";
}
img {
	border-width: 0px 0px 0px 0px
}
span{
	font-family:"Microsoft Yahei";
}
a{
	color:#808080;
	border:none;
}
a:hover
{
	color:#404040;
}
hr{
	height:1px;
	border:0;
	border-top:2px solid #808080;
}
.ch{
	font-family:"Microsoft Yahei";
}
.no-decoration > tr > td > a
{
	color:#404040;
}
.no-decoration:hover  > tr > td > a:hover
{
	color:#808080;
	text-decoration:none;
}
.text-white{color:#fff;}
.text-black{color:#000;}
.opacity-75{
	filter:alpha(opacity=75);   
	-moz-opacity:0.75;   
	-khtml-opacity: 0.75;   
	opacity: 0.75;   
}
.opacity-100{
	filter:alpha(opacity=100);   
	-moz-opacity:1;   
	-khtml-opacity: 1;   
	opacity: 1;   
}
.no-padding{padding:0;}

.login-alert{
	height:40px;
	padding:10px;
	color:#a94442;
	margin:0px;
	text-align:left;
}


.login-success{
	height:40px;
	color:#3c763d;
	padding-top:15px;
	margin:0px;
	text-align:left;
}

.img-responsive-mobile{
	display: block;
	max-height: 100%;
	width: auto;
}

.modal-lab
{
	width:60%;height:75%;
}
@media (max-width: 720px) {
	.modal-lab{
		width:90%;
	}
}
@media (max-height: 480px) {
	.modal-lab{
		height:40%;
	}
}

.wrong-input{
	border: 3px solid #e66;
	background-color: #ffefef;
}

.table-small > tr > td{
	font-size:12px;
}

.table-autoscroll{
    width: 100%;
	height: 92%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
}

.pannel-autoscroll{
    width: 100%;
	height: auto;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
}

/*blur fliter*/
.blur-sm {	
    filter: url(blur.svg#blur-5); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(5px); /* Chrome, Opera */
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);    
            filter: blur(5px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5, MakeShadow=false); /* IE6~IE9 */
}

.blur-xs {	
    filter: url(blur.svg#blur-2); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(2px); /* Chrome, Opera */
       -moz-filter: blur(2px);
        -ms-filter: blur(2px);    
            filter: blur(2px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false); /* IE6~IE9 */
}

.Title{
	font-size:3vw;color:white;text-decoration:none;opacity:0.7;
}
.Title:hover, .Title:visited, .Title:active
{
	font-size:3vw;color:white;text-decoration:none;opacity:0.95;
}

/*carousel fade effect*/
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}